<!-- views/layout.ejs or your individual EJS files -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/build/styles.css" />
    <!-- Other head elements -->
  </head>
  <body>
    <!-- Your content here -->
    <header class="bg-slate-300">
      <nav class="mx-auto max-w-7xl items-center justify-between p-4 lg:px-8">
        <div class="flex lg:flex-1">
          <a href="" class="m-1.5 p-1">
            <span class="sr-only">Noah's Park</span>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
              alt=""
            />
          </a>
        </div>
      </nav>
    </header>
  </body>
</html>
